@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Black.woff2') format('woff2'),
    url('@/assets/fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('@/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('@/assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #212529;
  font-weight: 400;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
  background-color: rgba(69, 53, 47, 0.4) !important;
  display: block;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #45352f !important;
}

.news-section::before {
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: 1px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -100px;
  left: -100px;
  animation: bgAnimate 50s linear infinite alternate;
}

@layer components {
  .title {
    @apply font-medium leading-[1.2] text-[#373737] text-[32px];
  }
}

@layer base {
  .v-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .v-container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .v-container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .v-container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .v-container {
      max-width: 1140px;
    }
  }
}

@keyframes bgAnimate {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  20% {
    transform: translate(-10%, 10%) rotate(90deg);
  }
  40% {
    transform: translate(10%, -20%) rotate(180deg);
  }
  60% {
    transform: translate(-10%, 20%) rotate(90deg);
  }
  80% {
    transform: translate(20%, -10%) rotate(0deg);
  }
  100% {
    transform: translate(20%, 10%) rotate(-90deg);
  }
}

@keyframes bgAnimate2 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  20% {
    transform: translate(10%, -10%) rotate(-90deg);
  }
  40% {
    transform: translate(-10%, 20%) rotate(-180deg);
  }
  60% {
    transform: translate(10%, -20%) rotate(-90deg);
  }
  80% {
    transform: translate(-20%, 10%) rotate(0deg);
  }
  100% {
    transform: translate(10%, 20%) rotate(90deg);
  }
}
